body{
    width:100%;
    margin:0;
    padding:0;
    background:hsla(221, 95%, 15%, 1);
    font-family: 'Source Code Pro';
  }
  h1{
    margin-left:5%;
    color:hsla(255,255%,255%,1);
    font-size:1.5em;
  }
  textarea{
    width:80%;
    margin-left:5%;
    background:hsla(52, 95%, 90%, 1);
    color:hsla(52, 5%, 15%, 1);
    box-shadow:2px 2px 2px 2px hsla(0,5%,5%,.1);
    
  }
  button{
  margin-left:5%;
  border:none;
  padding:1em;
  width:12em;
  box-shadow:2px 2px 2px 2px hsla(0,5%,5%,.4);
  }